/* 手动设置字体链接 */
@font-face {
    font-family: 'MapleMonoNL';
    src: url('/static/maple-min.ttf');
}

* {
    font-family: MapleMonoNL, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: MapleMonoNL, sans-serif;
    background: url('/static/cdn-image.jpg') no-repeat center center fixed;
    background-size: cover;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; /* 修改圆角为10px */
    box-sizing: border-box;
}